{% extends 'base.html' %} {% block title %}
  Home
{% endblock %} {% block content %}
  <div class="container">
    <div class="row my-5 justify-content-center">
      <h1 class="text-center">Search book</h1>
      <div class="col-12 col-sm-6 col-lg-4 my-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">{{ form.search.label }}
            {{ form.search(class = 'form-control') }}</div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="row justify-content-center">
        {% if books_results %}
          <div class="row">
            {% for book in books_results %}
              <div class="col-3 my-2">
                <div class="card" style="width: 18rem;">
                  {% if book.image_url %}
                    <img src="{{ book.image_url }}" class="card-img-top" alt="..." style="width:100%;height:200px;object-fit:cover" />
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <h5>
                      Authors:{% if book.authors %}
                        {{ book.authors|join(' | ') }}
                      {% else %}
                        inconnu
                      {% endif %}
                    </h5>
                    <p class="card-text">{{ book.description[:150] }} ...</p>
                    <a href="" class="btn btn-primary">Add Favorite</a>
                    <a href="" class="btn btn-primary">See details</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
