{% extends "base.html" %} {% block title %} Register {% endblock %} {% block content%}
<div class="container">
    <div class="row my-5 justify-content-center">
        <h1 class="text-center">Register</h1>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{form.pseudo.label}}
                    {{form.pseudo(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.email.label}}
                    {{form.email(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.password.label}}
                    {{form.password(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.password_confirmation.label}}
                    {{form.password_confirmation(class="form-control")}}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}